.icon {
  width: 20px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 10px;
}

.icon-google {
  margin-top: 2px;
  background-image: url("/images/google-icon.png");
}

.icon-facebook {
  margin-top: 1px;
  background-image: url("/images/facebook-icon.png");
}
