@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.input-field {
  border: 1px solid $border-color;
  border-radius: 6px;
  height: 50px;
  line-height: 25px;
  margin: 0;
  background-color: $white;
}

.input-field:hover {
  border-color: $active-color;
}

.input-field label {
  left: 10px;
  top: 3px;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  font-size: 18px !important;
  line-height: 20px !important;
  font-family: Comfortaa !important;
}

.input-field.custom-field > input {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 15px 10px 0 10px;
  border-radius: 6px;
  box-shadow: none !important;
  font-size: 18px !important;
  line-height: 20px;
  font-family: Comfortaa;
}

.input-field.custom-field.invalid {
  border-color: $error-color;
}

.input-field.custom-field.invalid label {
  color: $error-color;
}
